/* client/src/App.css */

/* Import Font */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Playfair+Display:ital,wght@0,400;0,600;0,700;1,400&display=swap');

:root {
  --primary-color: #AD343E;
  --secondary-color: #2C2F24;
  --bg-color: #FDFDFB; 
  --white: #ffffff;
  --gray-light: #DBDFD0;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'DM Sans', sans-serif;
  /* Không đặt background-color ở đây nữa để tránh bị trùng */
}